{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <style>
        table td{
            vertical-align: middle!important;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Competitions <span class="table-project-n">Data</span> Table</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('competition_add') }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Nouvelle
                                    Competition</a>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="couverture" data-editable="true">Couverture</th>
                                        <th data-field="name" data-editable="true">Name</th>
                                        <th data-field="email" data-editable="true">Visibility</th>
                                        <th data-field="phone" data-editable="true">Start Date</th>
                                        <th data-field="complete">End Date</th>
                                        <th data-field="task" data-editable="true">Description</th>
                                        <th data-field="date" data-editable="true">Place</th>
                                        <th data-field="date1" data-editable="true">Contact</th>
                                        <th data-field="date2" data-editable="true">Club</th>
                                        <th data-field="action">Action</th>
                                        <th data-field="participation">Participation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for competition in competitions %}
                                        <tr>
                                            <td></td>
                                            <td><img src="{{ asset('uploads') }}/{{ competition.media.path }}" alt="" width="80" style=" max-width:80px; max-height:80px;"></td>
                                            <td>{{ competition.nameCompetition }}</td>
                                            <td>{% if competition.visibilityCompetition %}Yes{% else %}No{% endif %}</td>
                                            <td>{{ competition.startDateCompetition|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ competition.endDateCompetition|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ competition.descriptionCompetition|raw }}</td>
                                            <td>{{ competition.placeCompetition }}</td>
                                            <td>{{ competition.contactCompetition }}</td>
                                            <td>{{ competition.getClub().getNameClub()}}</td>
                                            <td>
                                                <a href="{{ path('competition_edit', { 'id': competition.id }) }}"
                                                   class="btn btn-custon-four btn-primary"><i
                                                            class="fa fa-fw fa-edit"></i></a>
                                                <a href="{{ path('competition_delete', { 'id': competition.id }) }}"
                                                   class="btn btn-custon-four btn-danger"  onClick="return confirm('Êtes-vous sûr de vouloir supprimer?');"><i
                                                            class="fa fa-fw fa-close"></i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('competition_list_participation', { 'id': competition.id }) }}"
                                                   class="btn btn-custon-four {% if competition.getCountNewDemandes()== 0 %}btn-success{% else %}btn-warning{% endif %}" ><i class="fa fa-bell"></i>{{ competition.getCountNewDemandes()}}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}