{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Demandes Participation pour la
                                    Competition {{ demandes[0].getCompetition().getNameCompetition() }}<b></b></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('competition_index') }}" class="btn btn-custon-four btn-default">Back
                                    to the list</a>
                            </div>
                        </div>
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success fade in alert-dismissible" style="margin-top:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                <strong>Félicitation! </strong>{{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger fade in alert-dismissible" style="margin-top:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                <strong>Echec! </strong>{{ flashMessage }}
                            </div>
                        {% endfor %}
                        <div class="sparkline13-graph" style="margin-top: 15px;">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="client" data-editable="true">Client</th>
                                        <th data-field="code" data-editable="true">Code Participation</th>
                                        <th data-field="insertat" data-editable="true">Date D'envoie</th>
                                        <th data-field="status" data-editable="true">Status</th>
                                        <th data-field="action" data-editable="true">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for demande in demandes %}
                                        <tr>
                                            <td></td>
                                            <td><a href="#">{{ demande.getUser().getFullname() }}</a></td>
                                            <td>{{ demande.code }}</td>
                                            <td>{{ demande.insertat|date('Y-m-d H:i:s') }}</td>
                                            <td>{% if demande.status == 0 %}<b
                                                        class="text-warning">Attente</b>{% elseif demande.status == 1 %}
                                                    <b class="text-success">Accepter</b> {% else %}<b
                                                        class="text-danger">Refuser</b>{% endif %}</td>
                                            <td>
                                                {% if demande.status == 0 %}
                                                    <a href="{{ path('competition_accepter_participation', { 'id': demande.id }) }}"
                                                       class="btn btn-custon-four btn-success"
                                                       onClick="return confirm('Êtes-vous sûr de vouloir accepter la demande de participation pour ce client?');"><i
                                                                class="fa fa-fw fa-plus"></i></a>
                                                    <a href="{{ path('competition_refuser_participation', { 'id': demande.id }) }}"
                                                       class="btn btn-custon-four btn-danger"
                                                       onClick="return confirm('Êtes-vous sûr de vouloir refuser la demande de participation pour ce client?');"><i
                                                                class="fa fa-fw fa-close"></i></a>
                                                {% else %}
                                                    <b class="text-success">Demande traitée</b>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}