{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}

    <html>

    <head>
        <title>Salle </title>
    </head>
    <body><center>
        <h1>Ajouter une Salle </h1>
        {{ form_start(forum) }}
        <table>
            <tr><td>Nom salle </td><td>{{ form_widget(forum.nomSalle) }}</td></tr>
            <tr><td>Bloc salle</td><td>{{ form_widget(forum.blocSalle) }}</td></tr>
            <tr><td>Nombre des chaises</td><td>{{ form_widget(forum.nbreChaiseSalle) }}</td></tr>
            <tr><td>Categorie salle </td><td>{{ form_widget(forum.categorieSalle) }}</td></tr>
        </table>
        {{ form_end(forum) }}
    </center>
    </body>

    </html>


{% endblock %}
