{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}

    <div class="site-section bg-light">


        <div class="container">
            <center>
                <h2 class="font-weight-light text-primary">Chercher une projection</h2>
                <form method="post"
                      action="{{ path('Recherche_projection') }} ">
                    <input type="text" name="recherche">
                    <button name="Recherche" value="Recherche" class="btn btn-custon-four btn-success"><i
                                class="fa fa-fw fa-plus"></i>&nbsp;Recherche </form></center>
            <div class="row mb-5">
                <div class="col-md-7 text-left border-primary">
                    <h2 class="font-weight-light text-primary">Liste des projections</h2>
                </div>
            </div>
            <div class="row mt-5">
                {% for m in Projection %}                    <div class="col-lg-6">
                        <div class="d-block d-md-flex listing">
                            <a href="{{ path('Show_Projection', { 'id': m.id }) }}" class="img d-block" style="background-image: url('{{ asset("uploadsP") }}/{{ m.getThumb() }}')"></a>
                            <div class="lh-content">
                                <span class="category">Projection : </span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="{{ path('Show_Projection', { 'id': m.id }) }}">{{m.titleProjection}}</a></h3>
                                <address>{{ m.categorieProjection|raw }}</address>
                                <address>{% if m.dateProjection %} {{ m.dateProjection|date('Y-m-d H:i:s') }} {% endif %}</address>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
   {% endblock %}