<html>
<head>
    <style>
        th {
            vertical-align: middle;
        }
    </style>
    <center>
        <h1><u><p class="text-primary">Projection Voucher</p></u></h1>
    </center>
    &nbsp; &nbsp;
    &nbsp; &nbsp;
    <div style="text-align:right">
        <h3><p>Inscription Date : <span id="datetime"></span></p></h3>
    </div>
    &nbsp; &nbsp;
    &nbsp; &nbsp;

</head>
<body>
<center>
    <table width=90% border=1 cellpadding=18>

        <tr>
            <th colspan="2">CITE DE LA CULTURE ONLINE RESERVATION &nbsp;</th>

        </tr>
        <tr>
            <th colspan="2">Projection Title : {{ title }} </th>
        </tr>
        <tr>
            <th colspan="2">User Id : {{ user }} </th>
        </tr>
        <tr>
            <th colspan="2">Reserved to :{{ Nom }} {{ Prenom }} </th>
        </tr>
        <TR>
            <th colspan="2">Projection Description : {{ description }}</th>
        </TR>
        <TR>
            <th colspan="2">Fixed price to be paid in Dinars : {{ prix }}
            </TD>
        </TR>
        <TR>
            <th colspan="2">Number of seats : {{ number }}
            </TD>
        </TR>
        <TR>
            <th colspan="2">Date : {{ date }}
            </TD>
        </TR>
        <TR>
            <th colspan="2">Qr-Code : <img src="data:image/png;base64,
{{ barcode({code: user , type: 'datamatrix', format: 'png', width: 10, height: 10, color: [127, 127, 127]}) }}
"/>
            </TD>
        </TR>
    </table>

</center>

<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</body>

</html>