{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projections list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descriptionprojection</th>
                <th>Categorieprojection</th>
                <th>Titleprojection</th>
                <th>Dureeprojection</th>
                <th>Dateprojection</th>
                <th>Prixprojection</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projection in projections %}
            <tr>
                <td><a href="{{ path('projection_show', { 'id': projection.id }) }}">{{ projection.id }}</a></td>
                <td>{{ projection.descriptionProjection }}</td>
                <td>{{ projection.categorieProjection }}</td>
                <td>{{ projection.titleProjection }}</td>
                <td>{{ projection.dureeProjection }}</td>
                <td>{% if projection.dateProjection %}{{ projection.dateProjection|date('Y-m-d') }}{% endif %}</td>
                <td>{{ projection.prixProjection }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projection_show', { 'id': projection.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projection_edit', { 'id': projection.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projection_new') }}">Create a new projection</a>
        </li>
    </ul>
{% endblock %}
