{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projection</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projection.id }}</td>
            </tr>
            <tr>
                <th>Descriptionprojection</th>
                <td>{{ projection.descriptionProjection }}</td>
            </tr>
            <tr>
                <th>Categorieprojection</th>
                <td>{{ projection.categorieProjection }}</td>
            </tr>
            <tr>
                <th>Titleprojection</th>
                <td>{{ projection.titleProjection }}</td>
            </tr>
            <tr>
                <th>Dureeprojection</th>
                <td>{{ projection.dureeProjection }}</td>
            </tr>
            <tr>
                <th>Dateprojection</th>
                <td>{% if projection.dateProjection %}{{ projection.dateProjection|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prixprojection</th>
                <td>{{ projection.prixProjection }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projection_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('projection_edit', { 'id': projection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
