{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
   <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Dashboard des sondages</h4>
                        <div class="row">
                            {% for survey in surveys %}
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="hpanel widget-int-shape responsive-mg-b-30">
                                        <div class="panel-body">
                                            <div class="stats-title pull-left">
                                                <h4>{{ survey.title }}</h4>
                                            </div>
                                            <div class="stats-icon pull-right">
                                                <i class="educate-icon educate-apps"></i>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for question in survey.questions %}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="hpanel widget-int-shape responsive-mg-b-30">
                                            <div class="panel-body">
                                                <div class="text-center content-box">
                                                    <h2 class="m-b-xs">{{ question.content }}</h2>
                                                    <div class="m icon-box">
                                                        <i class="educate-icon educate-star-half"></i>
                                                    </div>
                                                    <p class="small mg-t-box">
                                                        {{ question.bestAnswer }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
                            <hr>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
