{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Ajouter un nouveau sondage</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="devit-card-custom">
                                                    {{ render(controller( 
                                                        'SurveyBundle:Rendering:renderSurveyForm',{
                                                            'form':form
                                                        }
                                                    )) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('_adminAssets') }}/build/sortable.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/build/salim.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/build/custom-back-style.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/build/customBePole.css">
{% endblock %}