{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}
<div class="site-section">
  	<div class="container">
    	<div class="row">
      		<div class="col-md-8">
      			<div class="row">
      			{% for survey in surveys %}
      				<div class=" col-md-6 align-items-stretch">
	          			<div class="col-md-12">
	            			<div class="h-entry">
		              			<h2 class="font-size-regular">
		              				Categorie: {{survey.category.name}}
		              			</h2>
		              			<h3 class="font-size-regular">
		              				<a href="{{ path('sondage_client',{'id':survey.id}) }}" class="text-black">
		              					{{survey.title}}
		              				</a>
		              			</h3>
		              			<p>
		              				{{survey.description|length > 50 ? survey.description|slice(0, 150) ~ '...' : survey.description }}
		              			</p>
		              			<a href="{{ path('sondage_client',{'id':survey.id}) }}" class="text-red">
	              					Participer au sondage
	              				</a>
	            			</div> 
	          			</div>
					</div>
      			{% endfor %}
        		</div>
      		</div>
    	</div>
  	</div>
</div>
{% endblock %} 