{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}
<div class="site-section">
  	<div class="container">
    	<div class="row">
	    <div class="col-lg-8">
	    {% if result == 'error' %}
			<p>
				Vous avez deja repondu a ce sondage, merci d'essayer un autre . <a href="{{ path('all_sondages') }}">ici</a>
			</P>	
	    {% elseif result == 'DataError' %}
	    	<p>
				les données que vous avez inseré dans le formulaire ne sont pas pas valides,
				merci de mettre des données valides <a href="{{ path('all_sondages') }}">lien du sondage</a>
			</P>
	    {% else %}

			<h1> Merci {{ profile  }} </h1>
			<p>
				Suite à votre participation au sondage, vous etes inscrit à notre newsletter.
			</P>	
	    {% endif %}
	    </div>
    	</div>
  	</div>
</div>
{% endblock %} 