<center>
    <table background="https://images.assetsdelivery.com/compings_v2/sanek13744/sanek137441801/sanek13744180100050.jpg"
           border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable"
           style="margin: 0;padding: 0;height: 100% !important;width: 100% !important;">
        <tbody>
        <tr>
            <td align="center" valign="top"
                style="height:100%!important;margin:0!important;padding:0!important;width:100%!important;border-collapse:collapse">
                <br>
                <br>
                <br>
                <br>
                <br>
                <table background="https://www.cloudHQ.net/images/i4_transparency.png" border="0" cellpadding="0"
                       cellspacing="0" width="600" id="templateContainer">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="border-collapse:collapse">
                            <br>
                            <table border="0" cellpadding="20" cellspacing="0" width="580">
                                <tbody>
                                <tr>
                                    <td valign="top" width="590" id="templateHeader" class="headerContent"
                                        style="padding: 20px 20px 10px 20px;border-collapse:collapse;color:#493e59;font-family:&quot;Myriad Pro&quot;;font-size:30px;font-weight:bold;line-height:100%;text-align:left;vertical-align:middle;background-color:#ffffff">
                                        <img src="{{ asset('uploads') }}/{{ demande.competition.media.path }}" alt=""
                                             border="0"
                                             style="margin: 0;padding: 0;max-width: 300px;max-height: 300px;border: 0;line-height: 100%;outline: none;text-decoration: none;"
                                             id="headerImage campaign-icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="590" id="templateHeader" class="headerContent"
                                        style="padding: 0px 20px 15px 20px;border-collapse:collapse;color:#493e59;font-family:&quot;Myriad Pro&quot;;font-size:30px;font-weight:bold;line-height:100%;text-align:left;vertical-align:middle;background-color:#ffffff">
                                        <p style="color: #493e59;font-family: Helvetica;font-size: 18px; line-height: 125%; text-align: left;max-width: 300px; text-align: justify;text-justify: inter-word;">
                                            {{ demande.competition.nameCompetition }}</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="border-collapse:collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateBody">
                                <tbody>
                                <tr>
                                    <td align="center" colspan="3" valign="top" style="border-collapse:collapse">
                                        <table border="0" cellpadding="20" cellspacing="0" width="580">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="bodyContent"
                                                    style="border-collapse:collapse;background-color:#ffffff">
                                                    <div style="color:#493e59;font-family:Helvetica;font-size:15px;line-height:125%;text-align:left">
                                                        <h1 style="color:#1394b2;display:block;font-family:Georgia;font-size:24px;font-weight:bold;line-height:80%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
                                                            Service Clients</h1>
                                                        <h2 style="color:#1394b2;display:block;font-family:Georgia;font-size:18px;font-weight:normal;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
                                                            {{ "now"|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}
                                                            à {{ "now"|date('H:i') }}</h2>
                                                        <p>Ami {{ demande.user.getFullname() }},</p>

                                                        <p> En réponse à votre demande de participation à la compétition "{{ demande.competition.nameCompetition }}" qui débutera le {{ demande.competition.startDateCompetition|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}
                                                            à {{ demande.competition.startDateCompetition|date('H:i') }},
                                                            je suis au regret de devoir vous informer que celle-ci n'a pas été retenue.
                                                            .</p>


                                                        <p>La Commission du
                                                            Tournoi {{ demande.competition.club.nameClub }}.</p>
                                                    </div>
                                                    <div style="color:#493e59;font-family:Helvetica;font-size:15px;line-height:125%;text-align:left">
                                                        <br>
                                                    </div>
                                                    <div style="color:#493e59;font-family:Helvetica;font-size:15px;line-height:125%;text-align:left">
                                                        Cordialement


                                                    </div>
                                                    <div style="color:#493e59;font-family:Helvetica;font-size:15px;line-height:125%;text-align:left">
                                                        {{ user.getFullName() }}
                                                    </div>
                                                    <div style="color:#493e59;font-family:Helvetica;font-size:15px;line-height:125%;text-align:left">
                                                        <br>
                                                        Service des tournois cité de la culture
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
                                   style="background-color:white;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 600px !important;">
                                <tbody>
                                <tr>
                                    <td valign="top"
                                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <!--[if (gte mso 9)|(IE)]>
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600"
                                               style="width:600px;">
                                            <tr>
                                                <td align="center" valign="top" width="200" style="width:200px;">
                                        <![endif]-->
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200"
                                               class="columnWrapper"
                                               style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="columnContainer"
                                                    style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           class="mcnTextBlock"
                                                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner"
                                                                style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <!--[if mso]>
                                                                <table align="left" border="0" cellspacing="0"
                                                                       cellpadding="0" width="100%" style="width:100%;">
                                                                    <tr>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                <td valign="top" width="200" style="width:200px;">
                                                                <![endif]-->
                                                                <table align="left" border="0" cellpadding="0"
                                                                       cellspacing="0"
                                                                       style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                       width="100%" class="mcnTextContentContainer">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextContent"
                                                                            style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 200%;text-align: center;">
                                                                            <img data-file-id="4913" height="50"
                                                                                 src="https://gallery.mailchimp.com/ed526b2f15f645fc575e0db76/images/872cbeb9-07a2-49e1-8696-d6bd1ec7b0e1.png"
                                                                                 style="border: 0px initial;width: 50px;height: 50px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                 width="50">
                                                                            <br>
                                                                            <span style="font-size:12px">
                                                    <strong>
                                                      <span style="color:#008080">
                                                        <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif">{{ demande.competition.contactCompetition }}</span>
                                                      </span>
                                                    </strong>
                                                  </span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <!--[if mso]>
                                                                </td>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                </tr>
                                                                </table>
                                                                <![endif]-->
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if (gte mso 9)|(IE)]>
                                        </td>
                                        <td align="center" valign="top" width="200" style="width:200px;">
                                        <![endif]-->
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200"
                                               class="columnWrapper"
                                               style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="columnContainer"
                                                    style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           class="mcnTextBlock"
                                                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner"
                                                                style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <!--[if mso]>
                                                                <table align="left" border="0" cellspacing="0"
                                                                       cellpadding="0" width="100%" style="width:100%;">
                                                                    <tr>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                <td valign="top" width="200" style="width:200px;">
                                                                <![endif]-->
                                                                <table align="left" border="0" cellpadding="0"
                                                                       cellspacing="0"
                                                                       style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                       width="100%" class="mcnTextContentContainer">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextContent"
                                                                            style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 200%;text-align: center;">
                                                                            <img data-file-id="4917" height="50"
                                                                                 src="https://image.flaticon.com/icons/png/512/20/20975.png"
                                                                                 style="border: 0px;width: 50px;height: 50px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                 width="50">
                                                                            <br>
                                                                            <span style="font-size:12px">

                                                      <strong>
                                                        <span style="color:#008080">
                                                          <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif">{{ demande.competition.placeCompetition }}</span>
                                                        </span>
                                                      </strong>
                                                  </span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <!--[if mso]>
                                                                </td>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                </tr>
                                                                </table>
                                                                <![endif]-->
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if (gte mso 9)|(IE)]>
                                        </td>
                                        <td align="center" valign="top" width="200" style="width:200px;">
                                        <![endif]-->
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200"
                                               class="columnWrapper"
                                               style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="columnContainer"
                                                    style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           class="mcnTextBlock"
                                                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner"
                                                                style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <!--[if mso]>
                                                                <table align="left" border="0" cellspacing="0"
                                                                       cellpadding="0" width="100%" style="width:100%;">
                                                                    <tr>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                <td valign="top" width="200" style="width:200px;">
                                                                <![endif]-->
                                                                <table align="left" border="0" cellpadding="0"
                                                                       cellspacing="0"
                                                                       style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                       width="100%" class="mcnTextContentContainer">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextContent"
                                                                            style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 200%;text-align: center;">
                                                                            <a href="mailto:{{ user.getEmail() }}"
                                                                               target="_blank"
                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-weight: normal;text-decoration: underline;">
                                                                                <img data-file-id="4921" height="50"
                                                                                     src="https://gallery.mailchimp.com/ed526b2f15f645fc575e0db76/images/d18fdca4-ceed-4c0d-afa5-d20024d8a229.png"
                                                                                     style="border: 0px;width: 50px;height: 50px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                     width="50">
                                                                            </a>
                                                                            <br>
                                                                            <span style="font-size:12px">
                                                    <a href="mailto:{{ user.getEmail() }}" target="_blank"
                                                       style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-weight: normal;text-decoration: underline;">
                                                      <font color="#008080"
                                                            face="roboto, helvetica neue, helvetica, arial, sans-serif">
                                                        <strong>{{ user.getEmail() }}</strong>
                                                      </font>
                                                    </a>
                                                  </span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <!--[if mso]>
                                                                </td>
                                                                <![endif]-->
                                                                <!--[if mso]>
                                                                </tr>
                                                                </table>
                                                                <![endif]-->
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if (gte mso 9)|(IE)]>
                                        </td>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding-bottom:10px;border-collapse:collapse">
                            <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" class="footerContent"
                                        style="border-collapse:collapse"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                <br>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
        <tbody>
        <tr>
            <td valign="top">
                <br>
                <div style="white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</center>
