{% extends 'MainBundle:Default:base2.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('_frontAssets') }}/css/star-rating/star-rating-svg.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('_frontAssets') }}/css/star-rating/demo.css">
{% endblock %}
{% block body %}
    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-7 text-left border-primary">
                    <h2 class="font-weight-light text-primary">Trending Today</h2>
                </div>
            </div>
            <div class="row mt-5">
                {% for club in clubs %}
                    <div class="col-lg-6">
                        <div class="d-block d-md-flex listing">
                            <a href="{{ path('club_details', { 'id': club.id }) }}" class="img d-block"
                               style="background-image: url('{{ asset("uploads") }}/{{ club.getFirstThumb() }}')"></a>
                            <div class="lh-content">
                                <span class="category">{{ club.categoryClub }}</span>
                                <a href="{{ path('club_voucher', { 'id': club.id }) }}" class="bookmark"
                                   style="border-radius: unset; width: 100px; height: 30px;"><span class="icon-add">S'abonner</span></a>
                                <h3><a href="{{ path('club_details', { 'id': club.id }) }}">{{ club.nameClub }}</a></h3>
                                <address>{{ club.descriptionClub|raw }}</address>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="my-rating-5" data-rating="{{ club.getRatingstar() }}"></div>
                                    </div>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if  club.oneVote(app.user) %}
                                            <div class="col-md-6" id="voter-menu">
                                                <button id="voter" type="button" class="btn btn-primary btn-sm">Voter
                                                </button>
                                            </div>
                                            <div id="{{ club.id }}" class="col-md-6 voter-menu-action"
                                                 style="display: none;">
                                                <button id="confirm-vote" type="button" class="btn btn-primary btn-sm">
                                                    Ok
                                                </button>
                                                <button id="cancel-vote" type="button" class="btn btn-secondary btn-sm">
                                                    Annuler
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('_frontAssets') }}/js/star-rating/jquery.star-rating-svg.js"></script>
    <script>
        $(function () {
            // specify the gradient start and end for the selected stars
            $(".my-rating-5").starRating({
                useFullStars: false,
                readOnly: true,
                disableAfterRate: false,
                useGradient:false,
                starSize: 22,
                strokeWidth: 5,
                ratedColor: 'gold',
                activeColor: 'gold',
                strokeColor: 'black',
                callback: function (currentRating, $el) {
                    window.verif = 'voted';
                }
                //initialRating: 3,
            });
            //$('.my-rating-5').starRating('setReadOnly', false);
            //$('.my-rating-5').starRating('setRating', 4.5);
            $('#voter').click(function () {
                window.rating = $(".my-rating-5").starRating('getRating');
                $('#voter-menu').hide();
                $('.voter-menu-action').show();
                $('.my-rating-5').starRating('setReadOnly', false);
                $('.my-rating-5').starRating('setRating', 0);
            });
            $('#cancel-vote').click(function () {
                $('#voter-menu').show();
                $('.voter-menu-action').hide();
                $('.my-rating-5').starRating('setRating', window.rating);
                $('.my-rating-5').starRating('setReadOnly', true);
            });
            $('#confirm-vote').click(function () {
                if (window.verif == 'voted') {
                    var here = $(this);
                    var data = new FormData();
                    data.append('data-rating', $(".my-rating-5").starRating('getRating'));
                    $.ajax({
                        type: "POST",
                        contentType: false, // required for upload
                        processData: false, // required for upload
                        url: Routing.generate('club_rate', {id: here.parent().attr('id')}),
                        data: data,
                        success: function (data) {
                            if (data.rating) {
                                $('#voter-menu').hide();
                                $('.voter-menu-action').hide();
                                $('.my-rating-5').starRating('setRating', data.rating);
                                $('.my-rating-5').starRating('setReadOnly', true);
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}