{% extends 'base.html.twig' %}

{% block body %}
    <h1>Surveys list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td><a href="{{ path('sondage_show', { 'id': survey.id }) }}">{{ survey.id }}</a></td>
                <td>{{ survey.title }}</td>
                <td>{{ survey.description }}</td>
                <td>{% if survey.createdAt %}{{ survey.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sondage_show', { 'id': survey.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sondage_edit', { 'id': survey.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sondage_new') }}">Create a new survey</a>
        </li>
    </ul>
{% endblock %}
