{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bechirs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bechir in bechirs %}
            <tr>
                <td><a href="{{ path('bechir_show', { 'id': bechir.id }) }}">{{ bechir.id }}</a></td>
                <td>{{ bechir.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bechir_show', { 'id': bechir.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bechir_edit', { 'id': bechir.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bechir_new') }}">Create a new bechir</a>
        </li>
    </ul>
{% endblock %}
