{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bechir</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bechir.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bechir.titre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bechir_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bechir_edit', { 'id': bechir.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
