{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <center><h1>Liste des Projection</h1><hr></center>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('create_projection') }}" class="btn btn-custon-four btn-success"><i
                                        class="fa fa-fw fa-plus"></i>&nbsp;Nouvelle projection</a>
                        </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">

                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="email" data-editable="true">Title_Projection</th>
                                        <th data-field="phone" data-editable="true">Categorie_Projection</th>
                                        <th data-field="complete">Description_Projection</th>
                                        <th data-field="task" data-editable="true"> Duree_Projection</th>
                                        <th data-field="pp" data-editable="true"> Date_Projection</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in Projection %}
                                        <tr>
                                            <td>{{ m.titleProjection}}  </td>
                                            <td>{{ m.categorieProjection }}  </td>
                                            <td>{{ m.descriptionProjection }} </td>
                                            <td>{{ m.dureeProjection }} </td>
                                            <td> {% if m.dateProjection %} {{ m.dateProjection|date('Y-m-d H:i:s') }} {% endif %}</td>

                                            <td>
                                                <a href="{{ path('update_projection', { 'id': m.id }) }}"
                                                   class="btn btn-custon-four btn-primary"><i
                                                            class="fa fa-fw fa-edit"></i></a>
                                                <a href="{{ path('delete_projection', { 'id': m.id }) }}"
                                                   class="btn btn-custon-four btn-danger"><i
                                                            class="fa fa-fw fa-close"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}