{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}
    <h1>Club creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('read_projection') }}" class="btn btn-custon-four btn-default">Back to the list</a>
        </li>
    </ul>
{% endblock %}