{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
   <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Departments List</h4>
                            <div class="add-product">
                                <a href="{{ path('clienttype_new') }}">Ajouter un type de client</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Score</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>                    
                                    </tbody>
                                    {% for clientType in clientTypes %}
                                        <tr>
                                            <td>{{ clientType.id }}</td>
                                            <td>{{ clientType.name }}</td>
                                            <td>{{ clientType.score }}</td>
                                            <td>
                                                <a href="{{ path('clienttype_edit', { 'id': clientType.id }) }}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
