{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.name) }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary waves-effect waves-light"  />
    <div style="display: none">
                {{form_rest(form)}}
        </div>
{{ form_end(form) }}