{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        <label>Categorie</label>
        {{ form_widget(form.category) }}
    </div>
    <div class="accordion ui-sortable" id="accordion" role="tablist" aria-multiselectable="true">
        {% if contents is defined %}
            {% for content in contents %}
                {% if   content.type == 'question' %}
                    {% for question in form.questions %}
                        {% if question.vars.value.position ==  content.entity.position %}
                            <div class="panel">
                                <a class="panel-heading collapsed" role="tab" 
                                    id="headingOne1{{content.entity.position}}" data-toggle="collapse" 
                                    data-parent="#accordion" href="#collapseOne1{{content.entity.position}}" 
                                    aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">Question : {{ question.content.vars.value }}
                                        <span class="closeThisPanel"> X </span></h4>
                                </a>
                                <div id="collapseOne1{{content.entity.position}}" 
                                    class="panel-collapse collapse " 
                                    role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="questions-box">
                                            {{ form_widget(question.position.vars.form)}}
                                            {{ form_widget(question.content.vars.form)}}
                                            <div class="childrenPast">
                                                {% for child in question.vars.form.children['answers'] if child.vars.value.questions.id == question.vars.value.id  %}
                                                    <div class="alert alert-bepole  childClosedPanel alert-dismissible fade in" 
                                                    role="alert">
                                                        <button type="button" class="close closeChildEnitity"
                                                            data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">×</span></button>
                                                        <span class="CollapsePanelChild"> <i class="fa fa-chevron-down"></i> </span>
                                                        <h4>Reponse</h4>
                                                        <hr class="HrBeplesSup">
                                                        {{ form_widget(child.vars.form) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <a class="btn btn-primary btnAddChild" data-label="Reponse"
                                            data-prototype="{{ form_widget(question.vars.form.children['answers'].vars.prototype)|e('html_attr')}}">
                                            Ajouter reponse
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %} 
                {% endif %}
            {% endfor %} 
        {% endif %}
    </div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-6">
            <button type="button" class="btn btn-primary btn-md addSingleContentButtun" 
                data-type="questions" data-label="Question" data-child="answers" 
                data-childLabel="Reponse"
                data-childPrototype="{{ form_widget(form.questions.vars.prototype.children['answers'].vars.prototype)|e('html_attr') }}"
                data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}"
                >Ajouter Question
            </button>
        </div>
        
    </div>
    <input type="submit" value="Submit" class="btn btn-primary waves-effect waves-light"  />
    <div style="display: none">
                {{form_rest(form)}}
        </div>
{{ form_end(form) }}