{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <!-- summernote CSS
            ============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/summernote/summernote.css">
{% endblock %}
{% block body %}
    <div class="container-fluid mg-t-15 mg-b-15">
        <div class="sparkline12-list">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{{ path('club_edit', { 'id': club.id }) }}">Basic Information</a></li>
                    <li><a href="{{ path('club_media', { 'id': club.id }) }}">Gérer des images</a></li>
                </ul>
            </div>
            <div class="sparkline12-hd mg-t-15">
                <div class="main-sparkline12-hd">
                    <h1>Edit Club</h1>
                </div>
            </div>
            <div class="sparkline12-graph">
                <div class="basic-login-form-ad">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="all-form-element-inner">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" value="Save"/>
                                {{ form_end(form) }}

                                <ul>
                                    <li>
                                        <a href="{{ path('club_index') }}"
                                           class="btn btn-custon-four btn-default">Back to the list</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- summernote JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/summernote/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mainbundle_club_descriptionClub').summernote({
                height: 200,
            });
        });
    </script>
{% endblock %}