{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <style>
        table td{
            vertical-align: middle!important;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Clubs <span class="table-project-n">Data</span> Table</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('club_add') }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Nouveau
                                    Club</a>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="couverture" data-editable="true">Couverture</th>
                                        <th data-field="name" data-editable="true">Name</th>
                                        <th data-field="email" data-editable="true">Category</th>
                                        <th data-field="phone" data-editable="true">Activity</th>
                                        <th data-field="phone1" data-editable="true">Description</th>
                                        <th data-field="complete">Price</th>
                                        <th data-field="task" data-editable="true">Openning Hours</th>
                                        <th data-field="date" data-editable="true">closing Hours</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for club in clubs %}
                                        <tr>
                                            <td></td>
                                            <td><img src="{{ asset('uploads') }}/{{ club.getFirstThumb() }}" alt="" width="80" style=" max-width:80px; max-height:80px;"></td>
                                            <td>{{ club.nameClub }}</td>
                                            <td>{{ club.categoryClub }}</td>
                                            <td>{{ club.activityClub }}</td>
                                            <td>{{ club.descriptionClub|raw }}</td>
                                            <td>{{ club.priceClub }}</td>
                                            <td>{{ club.openningHoursClub }}</td>
                                            <td>{{ club.closingHoursClub }}</td>
                                            <td>
                                                <a href="{{ path('club_edit', { 'id': club.id }) }}"
                                                   class="btn btn-custon-four btn-primary"><i
                                                            class="fa fa-fw fa-edit"></i></a>
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');" href="{{ path('club_delete', { 'id': club.id }) }}"
                                                   class="btn btn-custon-four btn-danger" ><i
                                                            class="fa fa-fw fa-close"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}